.imageObj{
    width: 800px !important;
    height: 500px !important;
    min-width: 800px;
    min-height: 500px;
    max-height: 500px;
    max-width: 800px;
    /* transform: rotate(180deg); */

    cursor: crosshair;
}
.image-hidden{
    visibility: hidden;
}